.menu-bar {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
.item {
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
  }
  
.item.title {
    font-weight: 600;
  }
  
.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

a:link {
    text-decoration: none;
}